.inicio-wrapper {
    min-height: calc(100vh - 154px - 156.25px);
    max-width: 1280px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
}

input[type=text], input[type=tel], input[type=date], input[type=email] {
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    text-align: start;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

input[type=date] {
    text-align: center;

}

button[type=submit] {
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #173457;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    color: #fff;
}

button[type=submit]:hover {
    background-color: #fff;
    color: #173457;
    border: #173457 0.5px solid;
}

.texto p {
    font-size: 13px;
    text-align: justify;
    color: #3D3D4A;
}

.texto h2 {
    text-align: center;
    font-size: 20px;
    color: #3D3D4A;
}

.btn, .btn_en, .btn_de {
    max-width: 150px;
}

.hidden {
    display: none;
}

/*SECCIONES*/


#seccion1, #seccion4 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    user-select: none;
}

#seccion1 .texto,
#seccion4 .texto {
    padding: 10px 15px;

}

#seccion3, #seccion2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    user-select: none;
    padding: 30px 0;
}

#seccion3 h2,
#seccion2 h2 {
    text-align: center;
    font-size: 20px;
    color: #3D3D4A;
}


#seccion5 {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding: 20px 10px 10px 10px;
    user-select: none;
}


#seccion5 p {
    font-size: 10px;
    padding: 0 35px;
}

#seccion5 h2 {
    color: #3D3D4A;
    text-align: center;
    font-size: 20px;
}


.seccion6 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    user-select: none;
}

.seccion6 h2 {
    color: #3D3D4A;
    text-align: center;
    font-size: 20px;
}

/*ESTANCIAS code start*/
.estancias_wrapper {
    padding-top: 20px;
}

.estancias-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.estancias-ctn ul {
    margin: 0 10px;
}

.estancias-ctn .estancia {
    background: #dcdbdb;
    margin: 20px;
    border-radius: 5px;
    min-width: 220px;
    max-width: 220px;
}

.estancia .precioestancia-ctn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.precioestancia-ctn .precio-area {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 3px;
}

.precio-area .area-estancia-ctn {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #173457;
    color: #173457;
    line-height: 10px;
    text-align: center;
    position: relative;
}

.precio-area .area-estancia-ctn .precioyiva {
    margin-top: 30px;
}

.precio-area .area-estancia-ctn .precio {
    font-size: 20px;
    font-weight: 500;
}

#iva {
    font-size: 10px;
}

.estancia-img {
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 10px;
}

.estancia-img img {
    width: 100%;
}

.estancia .estancia-nombre {
    width: 100%;
    height: 2px;
    margin: 30px 0;
    position: relative;
    color: #3d3d4a;
}

.estancia .estancia-nombre::before {
    position: absolute;
    content: "Estancia";
    left: 50%;
    background: #dcdbdb;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    transform: translate(-50%, -50%);
}

.estancia .caracteristicas li {
    margin-bottom: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.caracteristicas li .nombre-lista {
    font-size: 14px;
    font-weight: 400;
}

.estancias-ctn .btn, .btn_en, .btn_de {
    width: 60%;
    height: 30px;
    color: #3D3D4A;
    border: 1px solid #3D3D4A;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}

#boton-estancia {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/*Mensual*/
.mensual .precio-area,
.mensual .area-ctn {
    background: #FFF;
}

.mensual .btn {
    background: #fff;
    color: #173457;
    border: 2px solid #173457;
}

.mensual .btn:hover {
    background: #173457;
    color: #fff;
    border: 2px solid #173457;
}

.mensual .estancia-nombre {
    background: #173457;
}

.mensual .estancia-nombre:before {

    content: "Mensual";
}

/*Semanal*/
.semanal .precio-area,
.semanal .area-ctn {
    background: #FFF;
}

.semanal .btn {
    background: #fff;
    color: #173457;
    border: 2px solid #173457;
}

.semanal .btn:hover {
    background: #173457;
    color: #fff;
    border: 2px solid #173457;
}

.semanal .estancia-nombre {
    background: #173457;
}

.semanal .estancia-nombre:before {

    content: "Semanal";
}

/*ESTANCIAS code end*/

/*BONOS code start*/


.bonos_wrapper {
    padding-top: 20px;
}

.bonos-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.bonos-ctn .bono {
    background: #dcdbdb;
    margin: 20px;
    border-radius: 5px;
    min-width: 220px;
    max-width: 220px;
    height: 250px;
}

.bono .preciobono-ctn {
    display: flex;
    justify-content: center;
}

.preciobono-ctn .precio-area {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 3px;
}

.precio-area .area-bono-ctn {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #173457;
    color: #173457;
    line-height: 15px;
    text-align: center;
    position: relative;
}


.precio-area .area-bono-ctn .precio {
    font-size: 20px;
    font-weight: 500;
}

.precioyiva {
    margin-top: 27px;
}

#iva {
    font-size: 10px;
}

.bono-img {
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 10px;
}

.bono-img img {
    width: 100%;
}

.bono .bono-nombre {
    width: 100%;
    height: 2px;
    margin: 50px 0;
    position: relative;
    color: #3d3d4a;
}

.bono .bono-nombre::before {
    position: absolute;
    content: "";
    left: 50%;
    background: #dcdbdb;
    font-size: 18px;
    font-weight: 500;
    padding: 0 4px;
    transform: translate(-50%, -50%);
}

.bonos-ctn .btn, .btn_en, .btn_de {
    width: 60%;
    height: 30px;
    color: #3D3D4A;
    border: 1px solid #3D3D4A;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}


#boton-bono {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/*Bono seis meses*/



.seis .bono-nombre {
    background: #173457;
}

.seis .bono-nombre:before {
    content: "6 meses";
}

.seis .btn {
    background: #fff;
    color: #173457;
    border: 2px solid #173457;
}

.seis .btn:hover {
    background: #173457;
    color: #fff;
    border: 2px solid #173457;
}

/*12 meses*/
.doce .bono-nombre {
    background: #173457;
}

.doce .bono-nombre:before {
    content: "1 año";
}

.doce .btn {
    background: #fff;
    color: #173457;
    border: 2px solid #173457;
}

.doce .btn:hover {
    background: #173457;
    color: #fff;
    border: 2px solid #173457;
}

/*BONOS code end*/

/*Packs code start*/

.packs-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.packs-ctn .pack {
    padding: 10px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #D6DBDF;
    min-width: 220px;
    max-width: 220px;
}
.limpieza_img, .mantenimiento_img, .aeropuerto_img, .premium_img{
   display: flex;
   justify-content: center;
}

.limpieza_img img, .mantenimiento_img img, .aeropuerto_img img, .premium_img img{
    width: 150px;
    height: auto;
}


.pack .precio-ctn {
    display: flex;
    justify-content: center;
}

.precio-ctn .precio-area {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 2px;
}

.precio-area .area-ctn {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    line-height: 80px;
    text-align: center;
    position: relative;
}


.precio-area .area-ctn .precio {
    font-size: 30px;
    font-weight: 500;
}

#euro {
    font-size: 20px;
}

.pack .Pack-nombre {
    width: 100%;
    height: 2px;
    margin: 30px 0;
    position: relative;
    color: #3d3d4a;
}

.pack .Pack-nombre::before {
    position: absolute;
    content: "Pack";
    left: 50%;
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    transform: translate(-50%, -50%);
}

.pack .caracteristicas li {
    margin-bottom: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.caracteristicas li .nombre-lista {
    font-size: 14px;
    font-weight: 400;
}

.packs-ctn .btn, .btn_en, .btn_de {
    width: 60%;
    height: 30px;
    color: #fff;
    border: 1px solid #3D3D4A;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.info-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 20px;
}

#boton-center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.limpieza .precio-area,
.limpieza .area-ctn {
    background: #ffd861;
}

.limpieza .btn {
    background: #fff;
    color: #ffd861;
    border: 2px solid #ffd861;
}

.limpieza .btn:hover {
    background: #ffd861;
    color: #fff;
    border: 2px solid #ffd861;
}

.mantenimiento .precio-area,
.mantenimiento .area-ctn {
    background: #a26bfa;
}

.mantenimiento .btn {
    background: #fff;
    color: #a26bfa;
    border: 2px solid #a26bfa;
}

.mantenimiento .btn:hover {
    background: #a26bfa;
    color: #fff;
    border: 2px solid #a26bfa;
}

.aeropuerto .precio-area,
.aeropuerto .area-ctn {
    background: #43ef8b;
}

.aeropuerto .btn {
    background: #fff;
    color: #43ef8b;
    border: 2px solid #43ef8b;
}

.aeropuerto .btn:hover {
    background: #43ef8b;
    color: #fff;
    border: 2px solid #43ef8b;
}

.premium .precio-area,
.premium .area-ctn {
    background: #F5A9A9;
}

.premium .btn {
    background: #fff;
    color: #F5A9A9;
    border: 2px solid #F5A9A9;
}

.premium .btn:hover {
    background: #F5A9A9;
    color: #fff;
    border: 2px solid #F5A9A9;
}

.limpieza .Pack-nombre {
    background: #ffecb3;
}

.mantenimiento .Pack-nombre {
    background: #d0b3ff;
}

.aeropuerto .Pack-nombre {
    background: #baf8d4;
}


.premium .Pack-nombre {
    background: #F8E0E0;
}

.limpieza .Pack-nombre:before {
    content: "Limpieza";
}

.mantenimiento .Pack-nombre:before {
    content: "Mantenimiento";
}

.aeropuerto .Pack-nombre:before {
    content: "Aeropuerto";
}

.premium .Pack-nombre:before {
    content: "Premium";
}

#seccion5 .pman {
    padding: 10px 0 0 0;
}

/*Packs code end*/


/*FORMULARIO code start*/

.formulario-container {
    min-height: calc(100vh - 135px - 153px);
    user-select: none;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
}

.contact-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 60px;
    font-size: 13px;
    color: #3D3D4A;
}


.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel {
    margin-right: 2vw;
}

.contact-info i {
    margin-right: 5px;
    font-size: 20px;
}


.form-contact {
    display: flex;
    flex-direction: column;
    max-width: 94vw;
    width: 420px;
    margin: 0 auto;
    padding: 10px;
}

.form-contact p {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.datos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reserva {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.entrega, .delivery, .lieferdatum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.recogida, .pickup, .abholdatum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.entrega p, .delivery p, .lieferdatum p {
    position: absolute;
    z-index: 9;
    top: 15px;
    background: #fff;
    width: calc(90% - 30px);
    pointer-events: none;
    color: #777;
}

.recogida p, .pickup p, .abholdatum p {
    position: absolute;
    z-index: 9;
    top: 15px;
    background: #fff;
    width: calc(90% - 30px);
    pointer-events: none;
    color: #777;
}

.select1-ctn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    width: 100%;
}

.contact-form h2 {
    color: #3D3D4A;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.contact-form textarea {
    background-color: #fff;
    border: 0.5px solid #D2D3D5;
    padding: 12px;
    font-size: 15px;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
    margin-bottom: 20px;
}

.check-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

#check {
    justify-items: center;
    font-size: 12px;
}

.select-box1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0 30px 0;
}


.select-box2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

.select-box1, .select-box2 p {
    text-align: center;
}

select {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.mensaje, .sent {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px 20px;
    width: 100%;
}

.privacidad {
    padding: 0 20px;
    display: block;
    font-size: 11px;
    text-align: center;
    color: #3D3D4A;
}

.privacidad a {
    text-decoration: none;
    font-weight: 600;
    color: #3D3D4A;
}


#pselect, #cselect {
    display: flex;
    justify-content: center;
}


/*FORMULARIO code end*/

/*Responsive*/
@media screen and (min-width:480px) {

    /*SECCIONES*/
    #seccion1, #seccion4, #seccion5, .seccion6 {
        padding: 20px 20px;
    }

    #seccion5 p {
        padding: 0 85px;
    }

    /*Packs*/

    .packs-ctn .pack {
        min-width: 300px;
        max-width: 300px;
    }

    .limpieza .caracteristicas {
        margin-bottom: 20px;

    }

    .mantenimiento .caracteristicas {
        margin-bottom: 20px;

    }

    .aeropuerto .caracteristicas {
        margin-bottom: 20px;

    }

    /*Estancia*/

    .estancias-ctn .estancia {
        min-width: 300px;
        max-width: 300px;
    }


    /*Bono*/

    .bonos-ctn .bono {
        min-width: 230px;
        max-width: 230px;
    }

    /*FORMULARIO*/
    .form-contact {
        max-width: 100vw;

    }

    .contact-info i {
        margin-right: 10px;
        font-size: 20px;
    }


    .contact-form textarea {
        padding: 12px 20px;
        min-width: 300px;
    }

    .select-box1, .select-box2 {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .select-box1 p, .select-box2 p {
        margin-top: 23px;
    }

    .check-box {
        padding-top: 20px;
    }

    select {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    }

    #cselect, #pselect {
        display: block;
        margin: 15px 0;
    }

    #check {
        display: flex;
        width: 100%;
        margin-left: 0;
        white-space: nowrap;
        font-size: 12px;
        padding: 20px;
        justify-content: space-evenly;
    }

}

@media screen and (min-width:768px) {

    /*SECCIONES*/
    #seccion1, #seccion4, #seccion5 {
        padding: 20px 40px;
    }
    .seccion6{
        padding: 20px 40px;  
    }
    #seccion5 p {
        padding: 0 70px;
    }

    /*Packs code start*/

    .packs-ctn .pack {
        min-width: 280px;
        max-width: 280px;
        min-height: 560px;
        max-height: 560px;
    }

    .limpieza .caracteristicas {
        padding-bottom: 0px;
        margin-bottom: 169px;

    }

    .mantenimiento .caracteristicas {
        margin-bottom: 42px;

    }

    .aeropuerto .caracteristicas {
        margin-bottom: 27px;

    }

    .premium .info-ctn {
        margin-top: 144px;
    }

    /*Estancias*/
    .estancias_wrapper {
        display: flex;
        justify-content: center;
    }

    .estancias-ctn .estancia {
        min-height: 1000px;
        max-height: 525px;
    }

    .semanal .caracteristicas {
        margin-bottom: 34px;
    }

    /*Bonos*/
    .bonos_wrapper {
        display: flex;
        justify-content: center;
    }

    .bonos-ctn .bono {
        min-height: 300px;
    }
     
     .limpieza_img img, .mantenimiento_img img, .aeropuerto_img img, .premium_img img{
         width: 100px;
         height: 100px;
     }

    /*FORMULARIO*/
    #check {

        font-size: 13px;
    }
}

@media screen and (min-width:1024px) {
    .texto h2 {

        font-size: 25px;

    }

    .texto p {
        font-size: 16px;
    }

    /*SECCIONES*/
    #seccion1, #seccion4, #seccion5, .seccion6 {
        padding: 20px 40px;
    }

    #seccion3 h2, #seccion2 h2, #seccion5 h2, .seccion6 h2 {
        font-size: 25px;
    }

    #seccion5 p {
        padding: 0 165px;
    }

    /*Packs code start*/
    .limpieza, .mantenimiento,
    .aeropuerto, .premium {
        width: 350px;
        height: 400px;
    }

    /*FORMULARIO*/
    .formulario {
        min-height: 40vh;
    }

    .contact-info {
        line-height: 60px;
        font-size: 17px;
    }

    .contact-info i {
        font-size: 25px;
    }

    .contact-form h2 {
        font-size: 35px;
    }

    .reserva {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        gap: 10px;
    }

    .entrega p, .delivery p, .lieferdatum p {
        width: calc(90% - 50px);
        font-size: 15px;
        margin-right: 17px;
    }

    .recogida p, .pickup p, .abholdatum p {

        width: calc(90% - 50px);
        font-size: 15px;
        margin-right: 17px;
    }



}


@media screen and (min-width:1200px) {

    #seccion5 p {
        padding: 0 30px;
    }

    #seccion5 .pman {
        padding: 10px 0 0 0;
    }


    .packs-ctn {
        display: flex;
        justify-content: center;
    }

    .packs-ctn .pack {
        min-width: 235px;
        max-width: 235px;
        min-height: 610px;
        max-height: 610px;
    }

    .limpieza .caracteristicas {
        margin-bottom: 211px;

    }

    .aeropuerto .caracteristicas {
        padding-bottom: 0px;
        margin-bottom: 37px;
    }

    .mantenimiento .caracteristicas {
        margin-bottom: 52px;

    }

    .premium .info-ctn {
        margin-top: 172px;
    }

    #check {
        justify-content: space-between;
    }

}

@media screen and (min-width:1280px) {
    .packs-ctn .pack {
        min-width: 250px;
        max-width: 250px;
        min-height: 580px;
        max-height: 580px;
    }

    .limpieza .caracteristicas {
        margin-bottom: 175px;

    }

    .aeropuerto .caracteristicas {
        margin-bottom: 21px;
    }

    .mantenimiento .caracteristicas {
        margin-bottom: 35px;

    }

    .premium .info-ctn {
        margin-top: 139px;
    }
}